body {
    background-color: #fafafa;
}

.lane {
    width: 400px;
    margin: 10px;
}

.note-form {
    padding: 10px;
}

.note-item {
    height: 52px;
}

table > tbody > tr.note-item > td {
    vertical-align: middle
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}
tr td:first-child {
    overflow: hidden;
    white-space: nowrap;
    width: 32px;
}

tr td:last-child {
    overflow: hidden;
    white-space: nowrap;
    width: 32px;
}

.table > tbody > tr.note-item > td.note-item-text {
    padding-left: 20px;
}

.destroy-btn{
    cursor: pointer;
    color: white;
}

.destroy-btn:hover{
    color: #F22613;
}