body {
    background-color: #fafafa;
}

.todo-box {
    width: 400px;
    margin: 10px;
}

.todo-form {
    padding: 10px;
}

.todo-item {
    height: 52px;
}

.table > tbody > tr.todo-item > td {
    vertical-align: middle
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}
tr td:first-child {
    overflow: hidden;
    white-space: nowrap;
    width: 40px;
}

tr td:last-child {
    overflow: hidden;
    white-space: nowrap;
    width: 40px;
}

.todo-item-text {
    padding-left: 20px;
}

.table > tbody > tr.todo-item > td.todo-item-text {
    padding-left: 20px;
}

.destroy-btn{
    cursor: pointer;
    color: white;
}

.destroy-btn:hover{
    color: #F22613;
}